@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/form\.scss}line{font-family:\000031}}
.form-container-box {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/form\.scss}line{font-family:\000034}}
.form-container .checkbox {
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/form\.scss}line{font-family:\000037}}
.form-container .checkbox input {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/form\.scss}line{font-family:\0000311}}
.form-horizontal .actions {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/form\.scss}line{font-family:\0000316}}
.form-horizontal label {
  float: none;
  width: 100%;
  font-size: 0.85em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/form\.scss}line{font-family:\0000321}}
.form-horizontal .controls {
  width: auto;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/form\.scss}line{font-family:\0000326}}
body.item-post .select-box {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/form\.scss}line{font-family:\0000329}}
#item-post select {
  width: 100%;
}
