/* line 1, ../../sass/responsive/form.scss */
.form-container-box {
  width: auto;
}

/* line 4, ../../sass/responsive/form.scss */
.form-container .checkbox {
  margin-bottom: 15px;
}

/* line 7, ../../sass/responsive/form.scss */
.form-container .checkbox input {
  width: auto;
}

/* line 11, ../../sass/responsive/form.scss */
.form-horizontal .actions {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 16, ../../sass/responsive/form.scss */
.form-horizontal label {
  float: none;
  width: 100%;
  font-size: 0.85em;
}

/* line 21, ../../sass/responsive/form.scss */
.form-horizontal .controls {
  width: auto;
  margin-left: 0;
}

/* line 26, ../../sass/responsive/form.scss */
body.item-post .select-box {
  margin-bottom: 10px;
}

/* line 29, ../../sass/responsive/form.scss */
#item-post select {
  width: 100%;
}
