@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/item\.scss}line{font-family:\000032}}
body.item #sidebar,
body.user-public-profile #sidebar {
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/item\.scss}line{font-family:\000035}}
.item-photos .thumbs {
  float: none;
  margin-top: 10px;
  width: 100%;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/item\.scss}line{font-family:\0000311}}
.item-photos a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/item\.scss}line{font-family:\0000314}}
.item-photos .main-photo {
  width: 100%;
  float: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/item\.scss}line{font-family:\0000318}}
.item-photos .main-photo img {
  width: 100%;
}
