/* line 2, ../../sass/responsive/item.scss */
body.item #sidebar,
body.user-public-profile #sidebar {
  margin-top: 20px;
}

/* line 5, ../../sass/responsive/item.scss */
.item-photos .thumbs {
  float: none;
  margin-top: 10px;
  width: 100%;
  clear: both;
}

/* line 11, ../../sass/responsive/item.scss */
.item-photos .main-photo {
  width: 100%;
  float: none;
}

/* line 15, ../../sass/responsive/item.scss */
.item-photos .main-photo img {
  width: 100%;
}
