@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/list\.scss}line{font-family:\000032}}
.listing-grid .listing-card,
body.search .listing-grid .listing-card {
  width: 32%;
  padding: 0%;
  border: 0;
  margin: 1%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/list\.scss}line{font-family:\000038}}
.listing-grid .listing-detail {
  border: solid 1px #ECECEC;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/list\.scss}line{font-family:\0000311}}
.listing-grid .listing-thumb {
  float: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/list\.scss}line{font-family:\0000314}}
.listing-grid .listing-thumb img {
  height: auto;
  width: 92%;
  margin: 4%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/list\.scss}line{font-family:\0000320}}
.listing-grid .listing-cell {
  display: block;
  width: 92%;
  padding: 4%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/list\.scss}line{font-family:\0000325}}
.listing-grid .listing-basicinfo p {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/list\.scss}line{font-family:\0000328}}
.listing-grid .listing-basicinfo a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/list\.scss}line{font-family:\0000336}}
.listing-grid .listing-card:nth-child(3n),
body.search .listing-card:nth-child(3n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/feralou\/git\/public\/osclass-themes\/bender\/sass\/responsive\/list\.scss}line{font-family:\0000340}}
.listing-grid .listing-card:nth-child(3n+1),
body.search .listing-grid .listing-card:nth-child(3n+1) {
  margin-left: 0%;
  clear: both;
}
